# Import the Dataset

### Import Relevant Libraries

In [1]:
import pandas as pd

In [4]:
raw_data=pd.read_csv("water_potability.csv")

### Initial Analysis on Dataset

In [5]:
raw_data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [7]:
print(f"Shape of the Dataset {raw_data.shape}")

Shape of the Dataset (3276, 10)

In [8]:
raw_data.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690300,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833605,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762125,8.114887,359.950170,481.792305,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196010,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

# Fill in Missing Values

In [10]:
# check whether dataframe object include null values or not
raw_data.isnull()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
3271,False,False,False,False,False,False,False,False,False,False
3272,False,False,False,False,True,False,False,True,False,False
3273,False,False,False,False,True,False,False,False,False,False
3274,False,False,False,False,True,False,False,False,False,False
3275,False,False,False,False,True,False,False,False,False,False

In [12]:
# total sum of null values in each column
raw_data.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [13]:
# total number of null values in entire dataframe
print(f"Total Number of NULL Values in Entire Dataset: {raw_data.isnull().sum().sum()}")

Total Number of NULL Values in Entire Dataset: 1434

#### The missig values are fill in automatically with the attribute mean for all samples belonging to the same class

In [72]:
# calculate number of class 0 and 1 fields
class0=0
class1=0

for i in range(0,3276):
    if(raw_data["Potability"][i]==0):
        class0+=1
    elif(raw_data["Potability"][i]==1):
        class1+=1
        
print(class0)
print(class1)

1998
1278

#### Fill in Missing Values in "ph" column

In [73]:
#calculate class 0 and 1 total ph
class0TotalPh=0
class1TotalPh=0

for i in range(0,3276):
    
    if((raw_data["ph"][i]>0) and (raw_data["Potability"][i] == 0)):
        class0TotalPh+=float(raw_data["ph"][i])
    elif((raw_data["ph"][i]>0) and (raw_data["Potability"][i] == 1)):    
        class1TotalPh+=float(raw_data["ph"][i])
        
 
print(class1TotalPh)
print(class0TotalPh)

7788.235408179008
11931.777286193996

In [74]:
# calculate class 0 and 1 average ph values
class0AvgPh=class0TotalPh/class0
class1AvgPh=class1TotalPh/class1

print(class0AvgPh)
print(class1AvgPh)

5.971860503600598
6.094080914068082

In [75]:
# fill in missing values by average ph values
for i in range(0,3276):
    
    if((not raw_data["ph"][i]>0) and (raw_data["Potability"][i] == 0)):
        raw_data["ph"][i]=class0AvgPh
        
    elif((not raw_data["ph"][i]>0) and (raw_data["Potability"][i] == 1)):    
        raw_data["ph"][i]=class1AvgPh

C:\Users\User\AppData\Local\Temp\ipykernel_4016\1309993444.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data["ph"][i]=class0AvgPh
C:\Users\User\AppData\Local\Temp\ipykernel_4016\1309993444.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data["ph"][i]=class1AvgPh

In [77]:
#checking fill in missing values in "ph" column successfull or not
raw_data.isnull().sum()

ph                   0
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

#### Fill in Missing Values in "Sulfate" column

In [78]:
#calculate class 0 and 1 total Sulfate
class0TotalSulfate=0
class1TotalSulfate=0

for i in range(0,3276):
    
    if((raw_data["Sulfate"][i]>0) and (raw_data["Potability"][i] == 0)):
        class0TotalSulfate+=float(raw_data["Sulfate"][i])
    elif((raw_data["Sulfate"][i]>0) and (raw_data["Potability"][i] == 1)):    
        class1TotalSulfate+=float(raw_data["Sulfate"][i])
        
 
print(class1TotalSulfate)
print(class0TotalSulfate)

327578.48537930043
505192.0772639006

In [79]:
# calculate class 0 and 1 average sulfate values
class0AvgSulfate=class0TotalSulfate/class0
class1AvgSulfate=class1TotalSulfate/class1

print(class0AvgSulfate)
print(class1AvgSulfate)

252.84888751946977
256.3211935675277

In [80]:
# fill in missing values by average sulfate values
for i in range(0,3276):
    
    if((not raw_data["Sulfate"][i]>0) and (raw_data["Potability"][i] == 0)):
        raw_data["Sulfate"][i]=class0AvgSulfate
        
    elif((not raw_data["Sulfate"][i]>0) and (raw_data["Potability"][i] == 1)):    
        raw_data["Sulfate"][i]=class1AvgSulfate

C:\Users\User\AppData\Local\Temp\ipykernel_4016\2408302544.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data["Sulfate"][i]=class0AvgSulfate
C:\Users\User\AppData\Local\Temp\ipykernel_4016\2408302544.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data["Sulfate"][i]=class1AvgSulfate

In [81]:
#checking fill in missing values in "Sulfate" column successfull or not
raw_data.isnull().sum()

ph                   0
Hardness             0
Solids               0
Chloramines          0
Sulfate              0
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

#### Fill in Missing Values in "Trihalomethanes" column

In [82]:
#calculate class 0 and 1 total Trihalomethanes
class0TotalThm=0
class1TotalThm=0

for i in range(0,3276):
    
    if((raw_data["Trihalomethanes"][i]>0) and (raw_data["Potability"][i] == 0)):
        class0TotalThm+=float(raw_data["Trihalomethanes"][i])
    elif((raw_data["Trihalomethanes"][i]>0) and (raw_data["Potability"][i] == 1)):    
        class1TotalThm+=float(raw_data["Trihalomethanes"][i])
        
 
print(class1TotalThm)
print(class0TotalThm)

81378.03321476706
125380.02302112993

In [83]:
# calculate class 0 and 1 average trihalomethanes values
class0AvgThm=class0TotalThm/class0
class1AvgThm=class1TotalThm/class1

print(class0AvgThm)
print(class1AvgThm)

62.752764274839805
63.676082327673754

In [84]:
# fill in missing values by average Trihalomethanes values
for i in range(0,3276):
    
    if((not raw_data["Trihalomethanes"][i]>0) and (raw_data["Potability"][i] == 0)):
        raw_data["Trihalomethanes"][i]=class0AvgThm
        
    elif((not raw_data["Trihalomethanes"][i]>0) and (raw_data["Potability"][i] == 1)):    
        raw_data["Trihalomethanes"][i]=class1AvgThm

C:\Users\User\AppData\Local\Temp\ipykernel_4016\761929736.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data["Trihalomethanes"][i]=class0AvgThm
C:\Users\User\AppData\Local\Temp\ipykernel_4016\761929736.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data["Trihalomethanes"][i]=class1AvgThm

In [85]:
#checking fill in missing values in "Trihalomethanes" column successfull or not
raw_data.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

#### Convert Missing Values Handled Dataframe into .excel file

In [88]:
raw_data.to_csv("Missing Values Removed Dataset.csv",index=False)